.contest-registration-accordion {
  margin-top: 1rem;
}

.content {
  padding: 5%;
  width: 100%;
}

.title {
  padding: 15px 0px;
  background-color: #032b41;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.content {
  background-color: white;
}

.content > .contest-registration-container > label > input,
.content > .contest-registration-container > label > select {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.5rem 1rem;
}

.content > .contest-registration-container > label.disabled {
  opacity: 0.5;
}

.content > .contest-registration-container > label > select[disabled] {
  cursor: not-allowed;
}

.content p > .information {
  font-size: 0.8rem;
  font-style: italic;
}

button.cancel {
  padding: 0.5rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  color: white;
  background-color: #f44336;
}

button.item-register-contest {
  padding: 0.5rem 2rem;
  border-radius: 12px;
  margin: 1rem auto;
  color: white;
  background-color: var(--color-blue-main);
}
