.sponsors-page {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue-secondary);
}

.sponsors-page > .content-container {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
}

.sponsors-page > .content-container > .main-container > h2 {
  color: white;
}

.sponsors-page > .content-container > .main-container > .thanks-from-semcomp {
  color: white;
}

@media screen and (max-width: 768px) {
  .sponsors-page > .content-container {
    flex-direction: column;
    align-items: center;
  }
}

.sponsors-page > .content-container > .main-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sponsors-page > .content-container > .main-container > .thanks-from-semcomp {
  margin: 0;
}

.sponsors-page
  > .content-container
  > .main-container
  > .sponsor-cards-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: max-content;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.sponsors-page > .content-container > .main-container > hr {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}

.sponsors-page > .content-container > .main-container > h2 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.sponsors-page
  > .content-container
  > .main-container
  > .supporters-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: max-content;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.sponsors-page > .content-container > aside {
  padding: 0 2rem;
}

.sponsors-page > .content-container > aside > a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-blue-main);
  color: var(--color-white);
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.sponsors-page > .content-container > aside > a:hover {
  text-decoration: none;
}

.sponsors-page > .content-container > aside > .card {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .sponsors-page > .content-container > aside {
    width: 100%;
    max-width: 32rem;
  }
  .sponsors-page > .content-container > aside > .card {
    display: none;
  }
}

.sponsors-page > .content-container > aside > .card > h1 {
  font-size: 1.2rem;
  min-width: max-content;
  padding: 1rem;
  padding-right: 4rem; /* Just to push the aside a bit further to the right */
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.sponsor-button {
  margin-top: 7rem;
}
