.home-schedule-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem 2rem 5rem 2rem;
  background-color: var(--color-blue-main);
}

.home-schedule-container > .schedule-container {
  max-width: 64rem;
  width: 100%;
}

.home-schedule-container > h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
}

.home-schedule-container > .schedule-container > p {
  color: white;
}

.home-schedule-container > .schedule-container > .schedule-coming-soon {
  text-align: center;
  font-size: 1.35rem;
}
