.HardToClick-page__main {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 4rem 2rem;
  background-color: var(--color-white);
}

@media only screen and (max-width: 768px) {
  .HardToClick-page__sidenav {
    display: none;
  }
}

.HardToClick-page__card {
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 10rem;
  align-items: center;
}

.HardToClick-page__card-content {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.HardToClick-page__card-content h1 {
  font-size: 3rem;
}

.HardToClick-page__image {
  /* max-width: fit-content; */
  /* width: 100%; */
  margin-bottom: 1rem;
}

.HardToClick-page__card form {
  width: 30rem;
  margin: 1.5rem 0;
  display: flex;
}

.HardToClick-page__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0;
}

.HardToClick-page__button {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 1rem;
  background-color: var(--color-blue-main);
  color: white;
  text-transform: uppercase;
}
