#titulo {
    font-family: SomeTimeLater;
    color:#ffffff;
    text-shadow: -0.06em 0.08em 0 #000000cc;
    background-color: var(--color-blue-main);
    width: 80%;
    border-radius: 200px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }