@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./About.css";
@import "./Events-Overview-Event-Type.css";
@import "./Events-Overview.css";
@import "./Hard-To-Click-Chat.css";
@import "./Hard-To-Click-Create.css";
@import "./Hard-To-Click-Join.css";
@import "./Hard-To-Click-Lobby.css";
@import "./Hard-To-Click.css";
@import "./Header.css";
@import "./Home-Live-Now.css";
@import "./Home.css";
@import "./House-Scores-House-Points.css";
@import "./House-Scores.css";
@import "./Loading-Button.css";
@import "./Login.css";
@import "./Navbar.css";
@import "./Profile-About-Overflow.css";
@import "./Profile-Achievements.css";
@import "./Riddlethon.css";
@import "./Schedule.css";
@import "./Signup.css";
@import "./Spinner.css";

@font-face {
  font-family: "Staatliches";
  src: url("../assets/Staatliches-Regular.woff"),
    url("../assets/Staatliches-Regular.ttf"),
    url("../assets/Staatliches-Regular.eot");
}

@font-face {
  font-family: "Qatar2022-Bold";
  src: url("../assets/Qatar2022Arabic-Bold.ttf");
}

@font-face {
  font-family: "Qatar2022-Heavy";
  src: url("../assets/Qatar2022Arabic-Heavy.ttf");
}

:root {
  --color-blue-main: #065B84;
  --color-dark-blue: #009541;
  --color-blue-secondary: #f2ece5;
  --color-pink: #ECE5F0;
  --color-green: #009541;
  --color-orange: #EC4E20;

  --color-black-main: #1d1d1b;
  --color-grey-1: #3d3d3d;
  --color-grey-2: #c2c2c2;
  --color-grey-3: #f0f0f0;
  --color-white: #fafafa;

  --color-semcomp25-green: #009541;
  --color-semcomp25-yellow: #FFDF00;
  --color-semcomp25-blue: #002776;
  --color-semcomp25-white: #ECE5F0;
  --color-semcomp25-orange: #EC4E20;
}

body,
html,
#root {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;

  /* The whole page is not a perfect white so it goes a bit easier on the reader's eyes */
  background-color: #fafafa;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}