.hard-to-click-create-page {
  width: 100%;
  max-width: 32rem;
  text-align: center;
}

.hard-to-click-create-page > form {
  display: flex;
  flex-direction: column;
}

.hard-to-click-create-page > form > button {
  background-color: var(--color-blue-main);
  color: white;
  padding: 0.2rem;
  border-radius: 12px;
  font-size: 1.4rem;
}
