#header {
  background-image: url("../assets/26-imgs/festa-junina.jpg");
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
}
#title{
  
  text-shadow: -0.06em 0.08em 0 #3d200fcc;
}
#subtitle{
  font-family: HeyGotcha;
  text-shadow: -0.1em 0.1em 0 #3d200fcc;
}
#header-content {
  /* Estava None, deixei flex para manter o texto mesmo na tela fullscreen. */
  /* O Ideal é ter 3 tipos de imagens -> Mobile, Normal Size e Grande: Onde a grande deve conter o texto Semcomp */
  display: flex;
}

@media (max-width: 768px) {
  #header {
    background: url("../assets/26-imgs/festa-junina.jpg") top;
    background-size: cover;
    background-color: #193D6F;
  }

  #header-content {
    display: flex;
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
  #header {
    background-image: url("../assets/26-imgs/festa-junina.jpg");
  }

  #header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  #header {
    background: #193D6F url("../assets/26-imgs/festa-junina.jpg") top repeat-x;
  }
}