#header {
  background-image: url("../assets/soccer.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

#header-content {
  display: none;
}

@media (max-width: 768px) {
  #header {
    background-image: url("../assets/soccer-mobile.svg");
    background-position: center;
    background-size: contain;
    background-color: #009541;
  }

  #header-content {
    display: flex;
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
  #header {
    background-image: url("../assets/soccer-no-texts.png");
  }

  #header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  #header {
    background: #009541 url("../assets/soccer.png") center no-repeat;
  }
}