#header {
  background-image: url("../assets/26-imgs/img_geradora_fundo2.PNG");
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
}
#title{
  user-select: none;
}
#subtitle{
  user-select: none;
  font-family: ZingRust;
}
#header-content {
  /* Estava None, deixei flex para manter o texto mesmo na tela fullscreen. */
  /* O Ideal é ter 3 tipos de imagens -> Mobile, Normal Size e Grande: Onde a grande deve conter o texto Semcomp */
  display: flex;
}

/* Mobiles */
@media (max-width: 748px) {
  #title{
    font-size: 50px;
    width: 100%;
  }
  #subtitle{
    font-size: 15px;
    font-family: ZingRust;
    text-align: center;
  }

}

/* Ipads */
@media (min-width: 748px) and (max-width: 1350px) {
  #title{
    font-size: 90px;
    width: 100%;
  }
  #subtitle{
    font-size: 25px;
    font-family: ZingRust;
    text-align: center;
  }

}

@media (min-width: 1350px) and (max-width: 1920px) {
  #title{
    font-size: 120px;
  }
  #subtitle{
    font-size: 30px;
    font-family: ZingRust;
  }

  #header-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (min-width: 1920px) {
  #title{
    font-size: 160px;
    height: 210px;
  }
  #subtitle{
    font-size: 40px;
  }
  #header {
    background-color: #4AD2F8;
  }
}


/* BUTTON */


@media (max-width: 748px) {
  .button a{
    background-color:#AC85F4;
    display:block;
    position:relative;
    padding:12px 12px;
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .button.round a {
    background-color:#48E1F1;
    display:block;
    position:relative;
    padding:9px 9px;
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 5px 0 #454545;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 5px 0 #454545;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 5px 0 #454545;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50%;
  }
  
}

@media (min-width: 749px) {
    .button a{
      background-color:#AC85F4;
      display:block;
      position:relative;
      padding:15px 15px;
    
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);
      
      -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #353535;
      -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #353535;
      box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #353535;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .button.round a {
      background-color:#48E1F1;
      display:block;
      position:relative;
      padding:12px 12px;
    
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);
      
      -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
      -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
      box-shadow:inset 0 1px 0 #FFE5C4, 0 7px 0 #454545;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 50%;
    }
    
}

.button.round a:active{
  top:10px;
  background-color:#48E1F1;
  
  -webkit-box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3px 0 #353535;
  -moz-box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3pxpx 0 #353535;
  box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3px 0 #353535;
}

.button a:active{
  top:10px;
  background-color:#AC85F4;
  
  -webkit-box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3px 0 #353535;
  -moz-box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3pxpx 0 #353535;
  box-shadow:inset 0 1px 0 #d5d5d5, inset 0 -3px 0 #353535;
}

.button:after{
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#AC85F4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.play{
  animation: spin 2s 1s linear infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}