.house-scores-component__root {
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 2rem; */
  background-color: white;
}

.house-scores-component__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .house-scores-component__root {
    height: 100%;
    margin: 0;
  }
}
