.step2-container, .QRCode-instructions, .QRCode-methods {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.QRCode-payment, .loading-skeleton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.QRCode-copy-paste {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}