.event-type-component__root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 100px);
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.event-type-component__type {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.event-type-component__progress-bar-container {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-type-component__progress-bar {
  height: calc(100%);
  background-color: var(--color-blue-main);
  position: relative;
  border-radius: 10px;
}

.event-type-component__lower-half {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
