.contrast a {
    color: yellow !important;
}

.contrast button,
.contrast nav,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}