.a11ybar-content {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color: #002940;
}

.a11ybar-content .nav-item { 
  display: inline; 
}

.a11ybar-content .nav-item .nav-link{
  display: inline-block;
  
  /* visual do link */
  color: rgb(255, 255, 255) !important;
  font-size: small;
  text-decoration: none;
}

.a11ybar-content .nav-item .nav-link:hover {
  color: #6D6D6D;
  border-bottom: 3px solid #EA0000;
}