.delete-confirmation-modal-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.delete-confirmation-modal-component > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: auto;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 32rem;
  max-height: 100%;
}

.delete-confirmation-modal-component > .card > h1 {
  color: red;
  font-size: 2.5rem;
}

.delete-confirmation-modal-component > .card > .items-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  max-height: 100%;
  overflow: auto;
}

.delete-confirmation-modal-component > .card > .items-container > p {
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.delete-confirmation-modal-component > .card > .buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.delete-confirmation-modal-component > .card > .buttons-container > button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  color: white;
}

.delete-confirmation-modal-component
  > .card
  > .buttons-container
  > button.cancel {
  background-color: red;
}

.delete-confirmation-modal-component
  > .card
  > .buttons-container
  > button.confirm {
  background-color: green;
}
