.event-row-component {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.event-row-component > .event-name {
  margin: 0 0 0 2rem;
  font-weight: bold;
}

.event-row-component > .time-container > p {
  color: var(--color-blue-main);
  margin: 0;
}

.event-row-component > .time-container > .start-time {
  font-weight: bold;
}

/* Selected component */

.event-row-component.selected {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid green;
}

.event-row-component.selected > .event-name {
  color: white;
}

.event-row-component.selected > .time-container > p {
  color: white;
}
