.home-faq-container {
  position: relative;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-blue-main);
}

.home-faq-container > h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}

.home-faq-container > .questions-container {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 64rem;
  overflow: hidden;
}

.home-faq-container > .questions-container > .question-component > .question {
  background-color: var(--color-blue-secondary);
  color: var(--color-white);
  padding: 1rem;
  margin: 0;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.home-faq-container > .questions-container > .question-component > .answer {
  transition: 500ms;
  overflow: hidden;
  margin: 0;
}

.home-faq-container
  > .questions-container
  > .question-component
  > .answer
  > span {
  padding: 1rem;
  display: block;
  background-color: white;
}

/* Mobile large */
@media screen and (max-width: 426px) {
  .home-faq-container > .questions-container > .question-component > .question {
    font-size: 1rem;
  }

  .home-faq-container {
    padding: 5rem 1rem;
  }
}
