.schedule-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.schedule-wrapper > .pages-container {
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.schedule-wrapper > .events-container {
  flex-grow: 1;
  flex: 4;
  border: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 64rem;
  overflow: hidden;
  border-radius: 12px;
}

/* Mobile large */
@media screen and (max-width: 426px) {
  .schedule-wrapper {
    padding: 1rem 0rem;
    flex-flow: column nowrap;
  }

  .schedule-wrapper > .pages-container {
    flex-flow: row wrap;
    margin-bottom: 1.5rem;
  }
}
