.home-sponsors {
  background-color: var(--color-blue-main);
  padding: 5rem 2rem;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-sponsors > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}

.home-sponsors > p {
  margin: 2rem 0 0 0;
  max-width: 60rem;
}

.home-sponsors > .home-sponsors-card {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  justify-self: flex-end;
  grid-row: span 2;
  background-color: white;
}

.home-sponsors > .home-sponsors-card > .home-sponsors-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-sponsors
  > .home-sponsors-card
  > .home-sponsors-card-content
  > .company-logo {
  display: block;
  height: 100px;
  width: 250px;
  margin: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-sponsors > .home-sponsors-knowmore {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-green);
  border-radius: 8px;
  padding: 1rem 4rem;
  margin: 0 auto; /* Center button horizontaly */
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.home-sponsors > .home-sponsors-knowmore:hover {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .home-sponsors
    > .home-sponsors-card
    > .home-sponsors-card-content
    > .company-logo {
    height: 70px;
    width: 150px;
  }
}

@media only screen and (max-width: 490px) {
  .home-sponsors
    > .home-sponsors-card
    > .home-sponsors-card-content
    > .company-logo {
    height: 60px;
    width: 100px;
    margin: 0.5rem;
  }
}
