.home-header {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 100%;
  justify-items: center;
  position: relative;

  background-image: url("../assets/iara-bg.svg");
  background-size: cover;
  background-position: center;
  filter: brightness(115%);
  overflow: hidden;
}

.home-header > .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-header > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.home-header > .navbar-container {
  position: relative;
  width: 100%;
}

.home-header > .main-texts {
  left: 7rem;
  color: var(--color-blue-secondary);
  font-weight: bold;
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Staatliches", sans-serif;
}

.main-texts .semcomp-edition { 
  font-size: 8.5rem;
}

.main-texts .beta-text { 
  font-size: 5.5rem;
  line-height: 1rem;
}

.home-header > .text-container {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-header > .text-container > h1 {
  color: var(--color-blue-secondary);
  max-width: 70rem;
  text-align: center;
  font-family: "Staatliches", sans-serif;
  font-size: 1.5rem;
}

.home-header > .text-container > .home-signup-button {
  background-color: var(--color-green);
  padding: 0.5rem 3rem;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: bold;
}

.home-header > .text-container > .home-signup-button-disabled {
  filter: contrast(50%);
}

.home-header > .text-container > .home-signup-button:hover {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .home-header {
    background-image: url("../assets/iara-bg-mobile2.svg");
  }
  
  .home-header > .text-container {
    justify-content: center;
  }

  .home-header > .main-texts {
    margin-top: 2rem;
    height: 170%;
    left: 0rem;
    justify-content: center;
  }

  .main-texts .semcomp-edition { 
    font-size: 3.5rem;
  }
  
  .main-texts .beta-text { 
    font-size: 2.5rem;
  }
}

@media (max-width: 640px) {
  .home-header {
    background-image: url("../assets/iara-bg-mobile2.svg");
  }
  
  .home-header > .text-container {
    justify-content: center;
  }

  .home-header > .main-texts {
    margin-top: 2rem;
    height: 170%;
    left: 0rem;
    justify-content: center;
  }

  .main-texts .semcomp-edition { 
    font-size: 3.5rem;
  }
  
  .main-texts .beta-text { 
    font-size: 2.5rem;
  }
}
