.home-about-background {
  background-color: var(--color-semcomp25-blue);
}

.home-about-container {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 2rem;
  column-gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  color: var(--color-semcomp25-white);
}

.home-about-container > .text-container > h1 {
  margin: 0;
  font-size: 2.5rem;
}

.home-about-container > .text-container > p {
  margin: 2rem 0;
}

.home-about-container > .text-container > .about-signup-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-semcomp25-white);
  border-radius: 8px;
  padding: 1rem 4rem;
  margin: 0 auto; /* Center button horizontaly */
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.home-about-container > .text-container > .about-signup-button:hover {
  text-decoration: none;
}

.home-about-container > .text-container > .about-signup-button-disabled {
  filter: contrast(50%);
  color: var(--color-semcomp25-blue);
}

.home-about-container > img {
  border-radius: 8px;
  width: 90%;
}

.big-shiny-divider {
  /* Divisor */
  position: absolute;
  width: 100%;
  height: 6px;
  z-index: 9999;

  /* Degradê Brilhante */
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 1) 40.1%,
    rgba(141, 61, 153, 1) 100%
  );
}

/* Tablet */
@media screen and (max-width: 768px) {
  .home-about-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-about-container > img {
    margin-bottom: 2rem;
  }
}
