.home-live-now {
  position: fixed;
  background-color: red;
  color: white;
  z-index: 9999;
  right: -5rem;
  top: 10rem;
  padding: 0.5rem 10rem 0.5rem 2rem;
  border-radius: 2rem;
  line-height: 1.25rem;
}
