.house-points-component__root {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.house-points-component__text-container {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.house-points-component__logo {
  max-height: 64px;
  border-radius: 100%;
}

.house-points-component__name {
  font-size: 1.25rem;
  font-weight: bold;
}

.house-points-component__progress-bar-container {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.house-points-component__progress-bar {
  height: 100%;
  background-color: var(--color-blue-main);
  position: relative;
  border-radius: 10px;
}
