.modal-conquistas-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  height: 25rem;
  width: 100%;
  overflow-x: hidden;
}

.event:enabled {
  background-color: var(--color-blue-secondary);
}

.tootip {
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0.5rem;
}

.tootip > h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem 0;
}

.tootip > p {
  font-size: 14px;
}

.img-conquistada {
  filter: grayscale(0);
}

.img-nao-conquistada {
  filter: grayscale(100);
}

/* Mobile L */
@media screen and (max-width: 426px) {
  .modal-conquistas-grid {
    grid-template-columns: auto auto;
    height: 100%;
  }
}
