.signup-step-0-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-step-0-container > label {
  width: 100%;
  margin: 0.8rem 0;
}

.signup-step-0-container > label > p {
  margin: 0;
}

.signup-step-0-container > a > p {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
}

.signup-step-0-container > label > input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.5rem 1rem;
}

.signup-step-0-container > .form-button {
  border-radius: 4px;
  width: 100%;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: none;
}

.signup-step-0-container > .form-button.signup {
  background-color: var(--color-blue-main);
  color: white;
}

.signup-step-0-container > .form-button.signup-usp {
  background-color: rgba(0, 0, 0, 0.2);
}
