.event-component > .card {
  background-color: var(--color-blue-secondary);
  color: var(--color-black-main);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.event-component > .card > .left-item {
  flex-grow: 1;
  flex: 1;
  padding: 1rem;
}

.event-component > .card > .right-item {
  text-align: left;
  flex-grow: 1;
  flex: 6;
  padding: 1rem;
}

.event-component > .description {
  transition: 500ms;
  overflow: hidden;
  margin: 0;
}

.event-component > .description > span {
  padding: 0.6rem;
  background-color: var(--color-white);
  display: block;
}

.event-component > .description button {
  padding: 0.6rem;
  background-color: var(--color-blue-main);
  color: var(--color-white);
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.event-component > .description button:disabled {
  background-color: var(--color-grey-1);
  opacity: 0.8;
  pointer-events: none;
}

/* Mobile large */
@media screen and (max-width: 426px) {
  .schedule-wrapper > .events-container > .event-component > .card {
    font-size: 1rem;
  }
}
